@import "../../../assets/styles/variables";

:host {
  display: block;
}

:host(.nested-reply) {
  .comment {
    margin: $spacing-md 0;
    border: none;
    padding-left: 0;
  }
}

.comment {
  margin-bottom: $spacing-xl;
  padding-left: $spacing-sm;
  border-left: 2px solid lightgray;


  &__header {
    color: gray;
    font-size: $font-size-sm;
    margin-bottom: 4px;
    cursor: pointer;

    &-author {
      color: initial;
    }
  }

  &__content {
    font-size: $font-size-sm + 2px;
  }
}


.show-more {
  font-size: $font-size-sm;
  cursor: pointer;
  color: gray;

  &:hover {
    color: initial;
  }
}
