@import "../../../assets/styles/variables";

:host {
  display: block;
}

:host(.nested-reply) {
  .comment {
    margin: $spacing-sm 0;
    border: none;
    padding-left: 0;
  }
}

.comment {
  margin-bottom: $spacing-xl;
  padding-left: $spacing-sm;
  border-left: 2px solid lightgray;

  &__header {
    font-size: $font-size-sm;
    color: gray;

    &-author {
      color: initial;
    }
  }

  &__content {
    font-size: $font-size-md;
  }
}
