<div class="post-overview">
    <div class="post-overview__score">{{post.score}}</div>
    <div class="post-overview__thumb">
        <a [routerLink]="['post', post.id]">
            <img *ngIf="post.thumbnail !== 'self'" [src]="post.thumbnail" alt="post image"/>
        </a>
    </div>
    <div class="post-overview__description">
        <div class="post-overview__description-title">
            <a [routerLink]="['post', post.id]">{{post.title}}</a>
        </div>
        <div class="post-overview__description-subtitle">
            submitted at <b>{{post.created_utc | dateAgo}}</b> by {{post.author}} <br/>
            <a [routerLink]="['post', post.id]">{{post.num_comments}} comments</a>
        </div>
    </div>
</div>
