@import "../../../assets/styles/variables";

.post-overview {
  display: flex;
  height: 100%;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;

  &:hover {
    border: 1px solid rgb(237, 239, 241);
  }

  &__score {
    font-size: $font-size-xl;
    font-weight: bold;
    min-width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__thumb {
    width: 100px;
    min-width: 100px;
    margin: 0 $spacing-sm;

    img {
      //width: 100%;
      //min-height: 75px;
      //object-fit: cover;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-title {
      font-size: $font-size-md;
      font-family: $font-family-secondary;
      color: $primary-color;

      &:hover {
        text-decoration: underline;
      }
    }

    &-subtitle {
      font-size: $font-size-sm;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
