<div class="container">
    <app-header></app-header>

    <app-spinner *ngIf="postService.loading$| async"></app-spinner>

    <ng-template #noResults>
        <p class="message">
            I am sorry. 😔 <br>
            But it seems your search didn't return any results.
            Might check for typos.
        </p>
    </ng-template>
    <ng-container *ngIf="(postService.posts$ | async) as posts; else noResults">
        Current Page: {{postService.currentPage}}

        <div class="masonry">
            <app-post-overview *ngFor="let post of posts;trackBy: trackById"
                               [post]="post.data"
                               class="masonry-brick"></app-post-overview>
        </div>

        <div class="page-controls">
            <button (click)="prevPage();" class="pagination-button" title="previous page"><</button>

            <button (click)="nextPage();" class="pagination-button" title="next page">></button>
        </div>
    </ng-container>
</div>
