@import "../../assets/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $spacing-md;
  margin: auto;

  @include respond-to(tablet) {
    width: 90%;
  }

  @include respond-to(desktop) {
    width: 80%;
  }

  .page-controls {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
  }
}

.masonry {
  display: flex;
  flex-flow: row wrap;
  margin-left: -$spacing-md; /* Adjustment for the gutter */

  width: 100%;
}

.masonry-brick {
  margin: 0 $spacing-md $spacing-xl 0; /* Some gutter */
  width: 100%;
  word-break: break-word;

  @include respond-to(tablet) {
    width: 45%;
  }

  @include respond-to(desktop) {
    width: 30%;
  }
}

.message {
  text-align: center;
}

.pagination-button {
  border: none;
  border-radius: 50%;
  background-color: #f1f1f1;
  color: black;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;

  &:first-child {
    margin-right: $spacing-sm;
  }

  &:hover {
    background-color: #ddd;
    color: black;
  }
}
